<div class="chat">


  <%= turbo_stream_from chat %>

  <div id="messages_<%= chat.id %>" class="chat-messages">
    <% messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

<%= form_with url: chat_messages_path(chat), scope: :message, id: "chat_form_#{chat.id}" do |form| %>
    <div class="input-group">
      <%= form.text_field :content, id: "message_content", class: "form-control", placeholder: "Ecrire un message..." %>
      <%= form.submit "Envoyer", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
