
<div class="container">
<div class="list-card-carousel mb-3">
  <div class="d-flex justify-content-between align-items-center ps-5 pe-5">
    <div>
      <%= render "shared/carousel", movies: list.movies, caroussel_index: index %>
    </div>
    <h3 class="list-card-title">
      <%= list.name.capitalize %>
    </h3>
    <p class="list-card-p">
      <%= list.prompt.capitalize %>
    </p>
    <div>
      <%= link_to "Voir", list_path(list), class: "btn btn-accent btn-sm mb-3" %>
      <%= link_to "Supprimer", list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete your list #{list.name} ?"}, class: "btn btn-danger-ghost mb-3" %>
    </div>
  </div>
</div>
</div>
