<nav class="app-navbar">
  <div class="container navbar-container">

    <%= link_to root_path, class: "navbar-brand" do %>
      <span class="brand-icon">🎬</span>
      <span class="brand-name">Bon film !</span>
    <% end %>

    <div class="navbar-actions">
      <% if user_signed_in? %>
        <%= yield :navbar_actions %>
        <div class="dropdown">
          <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier",
              class: "avatar",
              alt: "menu utilisateur" %>
          </a>

          <div class="dropdown-menu dropdown-menu-end">
            <%= link_to "Profil", "#", class: "dropdown-item" %>
            <%= link_to "Se déconnecter",
              destroy_user_session_path,
              data: { turbo_method: :delete },
              class: "dropdown-item" %>
          </div>
        </div>
      <% else %>
        <%= link_to "Se connecter", new_user_session_path, class: "btn btn-accent btn-sm" %>
      <% end %>

    </div>

  </div>
</nav>
